<section class="bg-02">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
              <div class="cal-box">
             <p> 

                        <ol>
                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting">{{formation.length}}</div>
                                    <h5>Formation</h5>
                                </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" >{{etudiant.length}}</div>
                                    <h5>Etudiant</h5>
                                </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" >{{formateur.length}}</div>
                                    <h5>Formateur</h5>
                                </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" >{{emploi.length}}</div>
                                    <h5>Emploi</h5>
                                </div>
                            </li>
                        </ol>
              </div>
          </div>

          <div class="col-lg-6 col-md-6 col-12">
            <div class="cal-box">
                <img src="assets/images/slider/2.png">
            </div>
          </div>
      </div>
  </div>
</section>
