<div class="content">

  <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <h4 class="page-title"> Détail du Formation : </h4>
        </div>
      </div>
    </div>

    <!-- end page title -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
                <!-- Product image -->
                <a href="javascript: void(0);" class="text-center d-block mb-4">

                  <img [src]="endpoint.url+'getimageformation/' " class="img-fluid" style="max-width: 280px"
                    alt="Product-img" />
                </a>


              </div>
              <!-- end col -->
              <div class="col-lg-7">
                <form class="ps-lg-4">
                  <!-- Product title -->
                  <h3 class="mt-0">
                    {{formation.nom}}
                    <a href="javascript: void(0);" class="text-muted"><i
                        [routerLink]="['/dashboard/updateformation' , formation.idFormation ]"
                        class="mdi mdi-square-edit-outline ms-2"></i></a>
                  </h3>
                  <p class="mb-1">Date du début de formation: {{formation.dateDebut}}</p>
                  <p class="mb-1">Date fin formation: {{formation.dateDebut}}</p>
                  <p class="font-16">
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                  </p>
               
                  <!-- Product description -->
                  <div class="mt-4">
                    <h6 class="font-14"> Prix:</h6>
                    <h3>{{formation.coutParticipation}}</h3>
                  </div>


                  <!-- Quantity -->
                  <div class="mt-4">
                    <h6 class="font-14">Nombre de place réservé</h6>
                    <h3>{{formation.capaciteMaximale}}</h3>
                  </div>

                  <!-- Product description -->
                  <div class="mt-4">
                    <h6 class="font-14">Description:</h6>
                    <p>
                      {{formation.description}}
                    </p>
                  </div>

                  <!-- Product information -->
                  <div class="mt-4">
                    <div class="row">
                      <div class="col-md-4">
                        <h6 class="font-14">Formateur</h6>
                        <p class="text-sm lh-150">{{formateur.name}}</p>
                      </div>


                    </div>
                  </div>
                </form>
              </div>
              <!-- end col -->
            </div>
            <!-- end row-->


            <!-- end table-responsive-->
          </div>
          <!-- end card-body-->
        </div>
        <!-- end card-->
      </div>
      <!-- end col-->
    </div>
    <!-- end row-->
  </div>
  <!-- container -->
</div>