<section class="banner">
      <div class="banner-wrapper-main"></div>
      <div class="container">
          <div class="row">
              <div class="slider-wrapper">
                  <div class="box-01">
                      <div class="content">
                        <br>
                        <br>
                        <br>
                        <br>


                          <h1>Eventify</h1>
                          <p>Eventify est une plateforme tout-en-un de gestion d'événements et de formations qui facilite la planification, la communication et la participation en offrant des fonctionnalités intuitives et personnalisables.</p>
                          <div class="btn-001">
                              <ul>
                                  <li><a href="/login">Se connecter</a></li>

                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="box-01">
                      <div class="slider-image">
                          <img src="assets/images/logoo.png">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
